<!doctype html>
<html lang="en">

{% include head.html %}
<body>

{% include header.html %}
<main class="main">

<header class="title">
<a href="{{ page.url }}">
<div class="center">
<h1>{{ title }}</h1>
</div>
</a>
</header>

{{ content | safe }}

<div class="center">
<form method="get" action="https://google.com/search" target="_blank">
<input class="search" type="hidden" name="q" value="site:angora.me">
<input id="search" class="search" type="text" name="q" placeholder="Search? Type And Enter!">
<label for="search" class="hollow">_</label>
</form>
</div>

<div class="pagination">
<a class="prev" href="{{ pagination.previousPageHref | url }}">« Prev</a>
<div id="mode">
<div id="darkBtn">☀</div>
<div id="lightBtn" class="hidden">☀</div>
</div>
<a class="next" href="{{ pagination.nextPageHref | url }}">Next »</a>
</div>

</main>

{% include footer.html %}
<script defer src="{{ site.baseurl }}/script.js"></script>

</body>

</html>
