<head>

<title>{{ title }} | {{ site.title }}</title>

<meta charset="utf-8">
<meta name="keywords" content="{{ title }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="theme-color" content="#111">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="#ddd">
<meta name="msapplication-starturl" content="{{ site.baseurl }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="image" content="{{ site.baseurl }}/bayuangora.png">
<meta name="description" content="
">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title }} | {{ site.title }}">
<meta name="twitter:image" content="{{ site.baseurl }}/bayuangora.png">
<meta name="twitter:description" content="
">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url }}">
<meta property="og:title" content="{{ title }} | {{ site.title }}">
<meta property="og:image" content="{{ site.baseurl }}/bayuangora.png">
<meta property="og:description" content="
">

<link rel="canonical" href="{{ page.url }}">
<link rel="manifest" href="{{ site.baseurl }}/manifest.json">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.png">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
<link rel="mask-icon" color="#e00" href="{{ site.baseurl }}/safari-pinned-tab.svg">
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/style.css">

</head>
